/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    CSS Styles for Dropdown Menu

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#menu {
	overflow: hidden;
}

#menu ul {
	list-style: none;
	text-align: center;
}

#menu ul li {
	display: inline-block;
	text-align: left;
}

#menu ul li ul {
	display: inline;
	position: absolute;
	visibility: hidden;
}

#menu ul li ul li {
	float: none;
	display: block;
	margin-left: -40px; /* zentrierung */
	text-align: left;
}

#menu  ul li:hover > ul {
	visibility: visible;
}

#menu a {
	display: block;
}